<div class="card subject-card">

  <div class="card-header subject-title">

    <span *ngIf="!isTitleChange" (click)="isTitleChange = true">{{subject.title}}</span>
    <input class="change-input" *ngIf="isTitleChange" [(ngModel)]="subject.title"
           (focusout)="updateSubject(semester.id, subject.id, subject.title)"
           (touchstart)="updateSubject(semester.id, subject.id, subject.title)"/>
    <button type="button" class="btn btn-danger" (click)="deleteSubject(semester.id, subject.id, index)">X</button>

  </div>

  <mat-accordion>
    <mat-expansion-panel style="background-color: #6c757d" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header style="background-color: #6c757d">
        <mat-panel-title style="color: white">
          Добавить задание
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="add-task-block">
        <mat-form-field class="mat-form-field-sm" style="width: 100%;">
          <mat-label>Введите название</mat-label>
          <input matInput placeholder="Лабораторная работа 1" [formControl]="addTaskTitle" required>
          <mat-error *ngIf="addTaskTitle.hasError('required')">
            Название не может быть пустым
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label style="font-size: 14px;">Выберите дату дедлайна</mat-label>
          <input matInput [matDatepicker]="picker1" [formControl]="addTaskDeadline">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="addTaskDeadline.hasError('required')">
            Дата дедлайна не может быть пустой
          </mat-error>
        </mat-form-field>

        <button type="button" class="btn" style="background: #1B13A3; color: white" data-bs-dismiss="modal"
                [disabled]="addTaskTitle.invalid || addTaskDeadline.invalid"
                (click)="createTask(semester.id, subject.id)">
          Добавить задание
        </button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <div class="task-list" *ngFor="let task of tasks; let i = index">

    <div class="delete-task-button" (click)="deleteTask(semester.id, subject.id, task.id, i, tasks)">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span *ngIf="!task.isChange" (click)="task.isChange = true" class="task-list-item-title">{{task.title}}</span>
      <input *ngIf="task.isChange" [value]="task.title" [(ngModel)]="task.title"
             (focusout)="updateTask(semester.id, subject.id, task)"
             (touchstart)="updateTask(semester.id, subject.id, task)"
             class="task-list-item-title"/>

      <span *ngIf="!task.done" class="task-list-item-deadline">{{task.deadlineDate | date}}</span>

      <mat-checkbox [(ngModel)]="task.done" (click)="doTask(semester.id, subject.id, task.id, i, task)"></mat-checkbox>
    </div>

  </div>

  <div *ngIf="tasks.length > 0 || doneTasks.length > 0" class="task-list-divider">
    <span>Сделано</span>
  </div>

  <div class="task-list" *ngFor="let task of doneTasks; let i = index">

    <div class="delete-task-button" (click)="deleteTask(semester.id, subject.id, task.id, i, doneTasks)">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span *ngIf="!task.isChange" (click)="task.isChange = true"
            style="text-decoration: line-through" class="task-list-item-title">{{task.title}}</span>

      <input *ngIf="task.isChange"
             [value]="task.title" [(ngModel)]="task.title"
             (focusout)="updateTask(semester.id, subject.id, task)"
             (touchstart)="updateTask(semester.id, subject.id, task)"
             style="text-decoration: line-through"
             class="task-list-item-title"/>
      <span style="text-decoration: line-through" class="task-list-item-deadline">
        {{task.deadlineDate | date}}
      </span>

      <mat-checkbox [(ngModel)]="task.done" (click)="doTask(semester.id, subject.id, task.id, i, task)"></mat-checkbox>
    </div>

  </div>

</div>
