<div class="card subject-card">

  <div class="card-header subject-title">
    <button type="button" class="btn btn-success">+</button>
    <span>Математика</span>
    <button type="button" class="btn btn-danger">X</button>
  </div>

  <div class="task-list">

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1fdfddddddddddddddddddddddddddddddddddddddddddddddddd</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

    <div class="delete-task-button">
      <span>X</span>
    </div>
    <div class="task-list-item">
      <span class="task-list-item-title">Лабораторная работа 1</span>
      <span class="task-list-item-deadline">15 Dec, 2023</span>
      <button type="button" class="btn btn-warning task-list-item-todo-button">
        <div style="display: block;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </div>
      </button>
    </div>

  </div>

</div>


<!--<mat-card matBadge="Х" matBadgeSize="large" class="demo-section"-->
<!--          style="height: 350px; overflow-y: auto; margin-top: 10px;">-->

<!--  <mat-list style="width: 100%; display: flex; flex-direction: column">-->

<!--    <div class="subject-control">-->

<!--      <mat-form-field class="example-form-field subject-control-title-field" appearance="outline">-->

<!--        <input matInput type="text"-->
<!--               [(ngModel)]="subject.title"-->
<!--               (ngModelChange)="updateSubject(semester.id, subject.id, subject.title)">-->

<!--      </mat-form-field>-->

<!--    </div>-->

<!--    <mat-divider></mat-divider>-->

<!--    <div style="display: flex; flex-direction: column; align-items: center">-->
<!--      <mat-form-field style="width: 100%; height: 100%;" class="example-form-field" appearance="outline">-->
<!--        &lt;!&ndash;        <mat-label>Введите название задания</mat-label>&ndash;&gt;-->
<!--        <input style="font-size: 14px;" matInput type="text" [(ngModel)]="addTaskTitle" placeholder="Введите название задания">-->
<!--      </mat-form-field>-->


<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Choose a date</mat-label>-->
<!--        <input matInput [matDatepicker]="picker" [(ngModel)]="addTaskDeadline">-->
<!--        <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker></mat-datepicker>-->
<!--      </mat-form-field>-->

<!--      <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon"-->
<!--              (click)="createTask(semester.id, subject.id, addTaskTitle, addTaskDeadline)">-->
<!--        <mat-icon>add</mat-icon>-->
<!--      </button>-->
<!--    </div>-->

<!--    <mat-divider></mat-divider>-->
<!--    <div mat-subheader>Нужно сделать</div>-->

<!--    <mat-list-item *ngFor="let task of subject.tasks; let i = index">-->

<!--      <mat-form-field style="height: 70px" class="example-form-field">-->

<!--        <input *ngIf="task.done" class="text-decoration-line-through" matInput type="text" [value]="task.title" [(ngModel)]="task.title"-->
<!--               (ngModelChange)="updateTask(semester.id, subject.id, task)">-->
<!--        <input *ngIf="!task.done" matInput type="text" [value]="task.title" [(ngModel)]="task.title"-->
<!--               (ngModelChange)="updateTask(semester.id, subject.id, task)">-->

<!--        <button matSuffix mat-icon-button aria-label="Clear" (click)="doTask(semester.id, subject.id, task.id, task)">-->
<!--          <mat-icon>done</mat-icon>-->
<!--        </button>-->

<!--        <button matSuffix mat-icon-button aria-label="Clear" (click)="deleteTask(semester.id, subject.id, task.id, i)">-->
<!--          <mat-icon>close</mat-icon>-->
<!--        </button>-->

<!--      </mat-form-field>-->

<!--    </mat-list-item>-->
<!--&lt;!&ndash;    <mat-divider></mat-divider>&ndash;&gt;-->
<!--&lt;!&ndash;    <div mat-subheader>Сделано</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-list-item *ngFor="let task of tasks">&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field class="example-form-field">&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput type="text" [(ngModel)]="task.title">&ndash;&gt;-->
<!--&lt;!&ndash;        <button matSuffix mat-icon-button aria-label="Clear" (click)="deleteTask()">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>close</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;    </mat-list-item>&ndash;&gt;-->
<!--  </mat-list>-->

<!--</mat-card>-->
