<div class="reset-page">

  <h2>Reset password</h2>

  <form [formGroup]="resetForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter your email address</label>
      <input formControlName="email" type="email" class="form-control"
             id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button style="width: 20%" [disabled]="resetForm.invalid" (click)="submit()"
            type="submit" class="btn btn-primary">Submit</button>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </form>

</div>
