<div class="page-container">

  <mat-toolbar style="padding: 0">

    <div class="content-container" style="display: flex; justify-content: space-between; width: 100%;">

      <span>STODO APP</span>
      <div>
        <button routerLink="/main" mat-raised-button class="toolbar_button" color="warn" style="margin-right: 10px;">
          Главная
        </button>
        <button mat-raised-button class="toolbar_button" color="primary" (click)="logOut()">Выйти</button>
      </div>

    </div>

  </mat-toolbar>

  <mat-card class="deadline-page-content">


    <table class="table table-light" style="overflow-y: auto; height: 350px">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Задание</th>
        <th scope="col">Дата дедлайна</th>
<!--        <th scope="col"></th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of currentTasks; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{task.title}}</td>
        <td>{{task.deadlineDate | date}}</td>
<!--        <td><mat-checkbox></mat-checkbox></td>-->
      </tr>
      </tbody>
    </table>


    <table class="table table-light">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Задание</th>
        <th scope="col">Дата дедлайна</th>
<!--        <th scope="col"></th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of overDueTasks; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{task.title}}</td>
        <td>{{task.deadlineDate | date}}</td>
<!--        <td><mat-checkbox></mat-checkbox></td>-->
      </tr>
      </tbody>
    </table>


  </mat-card>

</div>
