<div class="page-container">

  <mat-toolbar style="padding: 0">

    <div class="content-container" style="display: flex; justify-content: space-between; width: 100%;">

      <span style="color: white;">STODO APP</span>
      <div>
        <button routerLink="/main" mat-raised-button class="toolbar_button" color="warn" style="margin-right: 10px;">
          Главная
        </button>
        <button mat-raised-button class="toolbar_button" color="primary" (click)="logOut()">Выйти</button>
      </div>

    </div>

  </mat-toolbar>

  <mat-card class="deadline-page-content">

    <div class="content-container" style="width: 100%">

      <mat-accordion>
        <mat-expansion-panel expanded="true" style="background: #f7e4f7">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px;">
              Ближайшие дедлайны
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <table class="table" style="background: #f7e4f7">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Задание</th>
                <th scope="col">Дата дедлайна</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let task of currentTasks; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{task.title}}</td>
                <td>{{task.deadlineDate | date}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel style="margin-top: 20px; background: #f7e4f7; margin-bottom: 20px;">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px;">
              Просроченные дедлайны
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <table class="table" style="background: #f7e4f7">
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Задание</th>
                <th scope="col">Дата дедлайна</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let task of overDueTasks; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{task.title}}</td>
                <td>{{task.deadlineDate | date}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </mat-expansion-panel>
      </mat-accordion>


    </div>

  </mat-card>

</div>
