<div class="main-page-block">

  <mat-card style="width: 100%; background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(128,76,128,1) 0%); padding-top: 15px">

    <div class="semester-block">

      <mat-form-field class="semester-block-list example-chip-list" appearance="fill">
        <mat-label>Разделы обучения</mat-label>
        <mat-chip-grid #chipGrid aria-label="Введите семестр">
          <mat-chip-row *ngFor="let semester of semesters; let index = index"
                        (removed)="deleteSemester(semester.id, index)"
                        [editable]="true"
                        (edited)="updateSemester(semester, $event);"
                        [aria-description]="'press enter to edit ' + semester.title"
                        (click)="currentSemester = semester">
            {{semester.title}}
            <button matChipRemove [attr.aria-label]="'remove ' + semester.title">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input placeholder="Новый раздел..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="createSemester($event)"/>
        </mat-chip-grid>
      </mat-form-field>

      <div *ngIf="semesters.length > 0" class="semester-block-subject-list">
        <app-todo-card *ngFor="let subject of currentSemester.subjects; let i = index"
                       [semester]="currentSemester" [subject]="subject" [index]="i">
        </app-todo-card>
<!--        <button *ngIf="currentSemester" type="button" class="col-4 mt-4 btn btn-primary"-->
<!--                (click)="createSubject(currentSemester.id)">add subject</button>-->
      </div>
    </div>

  </mat-card>

</div>
