<mat-drawer-container style="min-height: 800px"
                      class="example-container">

  <mat-drawer #drawer class="example-sidenav" mode="over" style="background: #3f51b5">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let semester of semesters"
                       [value]="semester"
                       [selected]="semester === currentSemester"
                       (click)="currentSemester = semester; saveCurrentSemester(semester)">
        {{semester.title}}
      </mat-list-option>
    </mat-selection-list>
    <div class="semester-button-group">
      <button mat-raised-button color="primary" class="delete-task-button"
              data-bs-toggle="modal" data-bs-target="#createSemesterModal" (click)="createSemester()">
        <span>Создать новый семестр</span>
      </button>
      <button *ngIf="semesters.length > 0" style="margin-top: 15px;"
              mat-raised-button color="accent" class="delete-task-button"
              data-bs-toggle="modal" data-bs-target="#changeSemesterModal">
        <span>Изменить текущий семестр</span>
      </button>
      <button *ngIf="semesters.length > 0" style="margin-top: 15px;"
              mat-raised-button color="warn" class="delete-task-button"
              (click)="deleteSemester()">
        <span>Удалить текущий семестр</span>
      </button>
    </div>
  </mat-drawer>

  <div class="content-container">

    <div class="example-sidenav-content" style="display: flex; flex-direction: column; align-items: flex-start">

      <div style="display:flex; justify-content: flex-end; width: 100%; margin-top: 10px;">

        <button style="margin-top: 10px; margin-right: 10px;" type="button" mat-raised-button
                color="primary" (click)="drawer.toggle()">
          Разделы обучения
        </button>

        <button style="margin-top: 10px; margin-right: 10px" type="button" mat-raised-button color="accent"
                (click)="dumpSemester(currentSemester.id)">
          Экспорт раздела
        </button>

        <button style="margin-top: 10px;" type="button" mat-raised-button color="warn"
                (click)="uploadSemester()">
          Импорт раздела
        </button>

      </div>


      <div class="semester-block-subject-list" *ngIf="semesters.length > 0 && currentSemester != null">

        <app-todo-card class="todo-card" *ngFor="let subject of currentSemester.subjects; let i = index"
                       [semester]="currentSemester" [subject]="subject" [index]="i">
        </app-todo-card>

        <div class="add-semester-button-area todo-card">
          <button (click)="createSubject(currentSemester.id)"
                  mat-fab color="accent">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </div>

    </div>

  </div>

</mat-drawer-container>


<div class="modal fade" id="changeSemesterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeSemesterModalLabel">Create semester</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field class="mat-form-field-sm" style="width: 100%;">
          <mat-label>Введите название</mat-label>
          <input matInput placeholder="Семестр" [formControl]="semesterTitle" required>
          <mat-error *ngIf="semesterTitle.hasError('required')">
            Название не может быть пустым
          </mat-error>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"
                [disabled]="semesterTitle.invalid"
                (click)="updateSemester(semesterTitle.value)" data-bs-dismiss="modal">Изменить семестр</button>
      </div>
    </div>
  </div>
</div>
