<div class="security-page">
  <h2>Восстановление пароля</h2>

  <form>
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Введите email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Невалидный email
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email должен быть представлен
      </mat-error>
    </mat-form-field>

    <form *ngIf="isCodeSend" style="width: 100%">

      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Введите код из email</mat-label>
        <input matInput [formControl]="code" required>
        <mat-error *ngIf="code.hasError('required')">
          Код должен быть представлен
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Введите пароль</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Пароль" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
          Пароль должен содержать минимум 6 символов
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Пароль должен быть представлен
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Подтвердите пароль</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Пароль" [formControl]="confirmPassword" required>
        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword.hasError('minlength') && !confirmPassword.hasError('required')">
          Пароль должен содержать минимум 6 символов
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('required')">
          Пароль должен быть представлен
        </mat-error>
      </mat-form-field>

    </form>

<!--    <button *ngIf="!isCodeSend" style="width: 20%" [disabled]="forgotForm.invalid" (click)="sendCode()"-->
<!--            type="submit" class="btn btn-primary">Send code</button>-->
<!--    <button *ngIf="isCodeSend" style="width: 20%" [disabled]="resetForm.invalid" (click)="resetPassword()"-->
<!--            type="submit" class="btn btn-primary">Submit</button>-->
    <button *ngIf="!isCodeSend" mat-raised-button color="primary" style="width: 100%"
            [disabled]="email.invalid"
            (click)="sendCode()"
            type="submit">Отправить код для изменения пароля</button>
    <button *ngIf="isCodeSend" mat-raised-button color="primary" style="width: 100%"
            [disabled]="email.invalid || password.invalid || confirmPassword.invalid || code.invalid"
            (click)="resetPassword()"
            type="submit">Изменить пароль</button>
    <a routerLink="/register">Войти</a>
    <a routerLink="/forgot" class="ml-3px">Зарегистрироваться</a>
  </form>

</div>
